body{
  width: 700px; 
  margin-left: auto;
  margin-right: auto; 
}


h1,h3{
  display: flex;
  align-items: center;
  justify-content: center
}

#buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
